.App{
  text-align: center;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.single-viewer {
  height: 32px;
  margin: 16px;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.sider-header{
  margin:0 auto;
}
.sider-header .sider-menu {
  float: left;
  width: 48%;
  margin: 0;
  padding: 0;
  text-align: center;
  color:#fff;
  font-size: 18px;
  font-family: Georgia,Times New Roman,Times,Songti SC,serif;
  font-weight: 700;
}

.main-nav{
  display:flex;
  flex-direction:row;
  padding:0;
  height:100%;
}
.nav{
  display:flex;
  flex-direction:row;
  padding:0;
  height:100%;
}
.nav .ant-btn{
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content:center; 
  align-items: center;
  margin-right:1%
}
.second .ant-btn{
  margin:0;
  height:100%;
}
.second-button{
  padding:5px;
}
.second-button .ant-btn-primary{
  background-color:#fff;
  border-color: #fff #1DA569 #fff #fff;
  color: #1DA569;
  border-radius:0;
  font-family: Georgia,Times New Roman,Times,Songti SC,serif;
  font-weight: 700;
}
.second-button .ant-btn-primary.at-right-border{
  background-color:#fff;
  border-color: #fff;
  color: #1DA569;
  border-radius:0;
}
.second-button .ant-btn-primary .anticon{
  color: #1DA569;
}
.second-button .ant-btn-primary>div{
  margin-top: 0px;
}
/* .nav .ant-btn::after{
  opacity: 0.1;
} */
.nav .ant-btn>div{
   margin-bottom: 7%;
  font-size: 18px;
  font-family: Georgia,Times New Roman,Times,Songti SC,serif;
  align-self:center;
  
}
.nav .ant-btn .anticon{
  font-size: 28px;
  align-self:center;
}
/* .nav .anticon{
  align-self:center;
} */

.wid-content{
  width: 100%;
}
.wid-shrink{ 
  width: 76%
  /*
  用于出现新的
  */
}
.wid-footer{
  width: 100%;
}
.reverse{
  display:flex;
  flex-direction:row-reverse;
}
.ant-popover-content {
  opacity: 0.7;
}
.self-popover .ant-popover-inner-content {
  padding: 0px;
}
.ant-popover-inner {
  background-color: #00000000;
  background-clip: padding-box;
  border-radius: 0px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  margin: 0;
}
.ant-popover-placement-right, .ant-popover-placement-rightTop, .ant-popover-placement-rightBottom {
  padding-left:0px;
}
.ant-popover-placement-rightTop > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-rightBottom > .ant-popover-content > .ant-popover-arrow {
  background-color: #00000000;
  left: 0px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  width:0;
  height: 0;
}
.add-content{
  margin: 0;
  padding: 0;
  font-size:40px;
}
