.creatparent{
    display:flex;
    width:1000px;
    min-height:100%;
    margin: 0 auto;
}
.flowbar{
    overflow: hidden;
    z-index: 99;
    position: fixed;
    padding:10px;
    text-align:center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;	
    border-top-right-radius: 4px;
    
  }
  .login-form {
    text-align:center;
    align-self:center;
    padding:50px 10px 10px 10px;
  }
  .Sider{
    transition: all 0.2s;
    position: relative;
    background-color: #fff;
    
   
    /* fix firefox can't set width smaller than content on flex item */
    min-width:0;
  }
  .top-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  
    
}
.flowbar-account{
  display: table-cell;
   
 }
 .iconsize{
  font-size: 23px;
}